package-lock=false
fund=false
audit=false

# pnpm-specific knobs
shared-workspace-lockfile=true
link-workspace-packages=true
prefer-workspace-packages=true
auto-install-peers=true
strict-peer-dependencies=false

@Pieter-OHearn:registry=https://npm.pkg.github.com